# Deep Learning Tutorial - EDA

In [1]:
import pandas as pd

In [24]:
header_values = []
with open('./data/zoo.dat', 'r') as zoo_file:
    for line in zoo_file:
        if '@attribute' in line:
            header_values.append(line.split()[1])

In [26]:
df = pd.read_csv('./data/zoo.dat', skiprows=21, header=None, names=header_values)

In [27]:
df.head()

,Hair,Feathers,Eggs,Milk,Airborne,Aquatic,Predator,Toothed,Backbone,Breathes,Venomous,Fins,Legs,Tail,Domestic,Catsize,Type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
1,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1,1
2,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,0,1
3,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
4,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4